/* Admin.css */

/* Conteneur principal */
.admin-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  /* Cela peut être laissé si vous souhaitez limiter le défilement global */
}

/* Navbar */
.navbar {
  background-color: #111;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* Navbar avec sidebar */
.navbar.with-sidebar {
  padding-left: 80px;
  /* Lorsque la sidebar est ouverte */
}

/* Navbar sans sidebar */
.navbar.without-sidebar {
  padding-left: 20px;
}

/* Contenu de la navbar */
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo de la navbar */
.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.navbar-logo .icon {
  margin-right: 20px; /* Ajustez la valeur selon vos besoins */
}

/* Liens de la navbar */
.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links button {
  background-color: transparent;
  border: none;
  color: #bbb;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-links button:hover {
  color: #fff;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #1d1d1d;
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 80px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: all 0.3s ease;
  overflow-y: auto;
  /* Permet de faire défiler le contenu dans la sidebar */
}

/* Sidebar fermée */
.sidebar.closed {
  width: 80px;
  padding-top: 80px;
}

/* Menu de la sidebar */
.sidebar .menu {
  list-style: none;
  padding: 0;
}

.sidebar .menu li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar .menu li:hover {
  background-color: #444;
}

/* Icône du menu */
.sidebar .menu .menu-icon {
  font-size: 1.5rem;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

/* Icône de la sidebar fermée */
.sidebar.closed .menu li {
  text-align: center;
}

.sidebar.closed .menu li:hover .menu-icon {
  transform: scale(1.2);
}

/* Contenu principal */
.content {
  margin-left: 250px;
  padding: 30px;
  transition: margin-left 0.3s ease;
  padding-top: 80px;
  overflow: auto;
  /* Permet le défilement si le contenu dépasse */
  height: calc(100vh - 80px);
  /* S'assure que le contenu ne dépasse pas la hauteur de la fenêtre */
}

/* Lorsque la sidebar est fermée */
.content.with-sidebar {
  margin-left: 250px;
}

.content.without-sidebar {
  margin-left: 0;
}